doctype html
html
		head
		meta(charset= "utf-8")
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="../libs/owl.carousel.css")
		link(rel="stylesheet" href="../libs/magnific.css")
		title
		body
			.main
				.navbar-background
					.logo-mobile
						img(src="../img/svg/logotype-mobile.svg", alt="лого мобайл")
					.navbar
						a(class="nava nav-one" href="index.html") главная
						a(href="work.html") наши работы
						a(href="form.html") записаться
						a(href="https://htmlacademy.ru/about") контакты
						a(href="https://htmlacademy.ru/") HTML ACADEMY
						a.navbar_form(href="#popup_form") 
							span 
								img.login_button(src="../img/svg/login.svg", alt="login button")
								span.entrance войти 
						.navbar__popup(href="#")
							a.popup_button(href="#popup_menu")
								img.popup_icon(src="../img/svg/menu_btn.svg", alt="menu button")
							.popup_menu(id="popup_menu" class="mfp-hide")
								a(href="index.html") главная 
								a(href="work.html") наши работы
								a(href="form.html") записаться
								a(href="https://htmlacademy.ru/about") контакты
								a(href="https://htmlacademy.ru/") HTML ACADEMY
								a.navbar_form(href="#popup_form") Войти
									img.login_button(src="../img/svg/login-mobile.svg", alt="login button")
						.nav_form(id="popup_form" class="mfp-hide")
							form(action="login" method="post")
								h3 Личный кабинет
								p Введите свой логин и пароль, чтобы войти
								input(type="text" name="username" placeholder="Логин")
								span
								input(type="password" name="password" placeholder="Пароль")
								span
								br
								input(type="checkbox" checked)
								span Запомните меня 
								a.form-elem(href="#") Я забыл пароль!
								br
								input(type="submit" name="submit" value="Войти")
								a.form-close.mfp-close(href="#") Закрыть
				picture
					source(media="(min-width: 768px)" srcset="../img/back-tablet.jpg")
					source(media="(min-width: 1200px)" srcset="../img/back-desktop.jpg")
					img(class="back-image" src="/img/back-desktop.jpg" alt="barbershop")
				img.logo-tablet(src="../img/svg/logotype-tablet.svg" alt="barbershop-tablet")
				img.logo-desktop(src="../img/svg/logotype-desktop.svg" alt="barbershop-desktop")
				.angel-div-pinky
					img.info-angel(src="../img/svg/angle_div_pinky.svg", alt="image")
				.main_form
					.form_wrapper
						.form_title
							h2 ЗАПИСЬ НА СТРИЖКУ
							a(href="index.html") НА ГЛАВНУЮ
						form(action="login" method="post")
							.form_data
								input(type="text" name="firstname" placeholder="Имя")
								input(type="text" name="lastname" placeholder="Фамилия")
								input(type="text" name="thirdname" placeholder="Отчество")
								input(type="phone" name="phone" placeholder="Контактный телефон")
								input(type="email" name="email" placeholder="Контактный e-mail")
								textarea(name="field", cols="30", rows="1" placeholder="Доп. Информация для мастера")
							fieldset.form_model
								legend ВЫБЕРИТЕ МОДЕЛЬ БОРОДЫ
								.form_model_set
									label
										input(type="radio" name="radio" checked)
										p.check адмирал
										img(src="../img/svg/beard-1.svg", alt="model beard")
									label
										input(type="radio" name="radio")
										p.check лесоруб
										img(src="../img/svg/beard-2.svg", alt="model beard")
									label
										input(type="radio" name="radio")
										p.check полярник
										img(src="../img/svg/beard-3.svg", alt="model beard")
									label
										input(type="radio" name="radio")
										p.check боярин
										img(src="../img/svg/beard-4.svg", alt="model beard")
									label
										input(type="radio" name="radio")
										p.check мудрец
										img(src="../img/svg/beard-5.svg", alt="model beard")
							fieldset.form_service
								.fail.mfp-hide1
									h2 НЕУДАЧА
									p Что то пошло не так. Проверьте выделенные красным поля формы.
									a.mfp-close(href="#") OK
								.success.mfp-hide
									h2 ЭТО УСПЕХ!
									p Ваша заявка отправлена. Ожидайте, мы свяжемся с вами как только будет минутка.
									a.mfp-close(href="#") ЗАКРЫТЬ
								legend ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:
								.form_service_set
									label
										input(type="checkbox" checked)
										span Подкрасить бороду
									label
										input(type="checkbox")
										span Причесать бороду
									label
										input(type="checkbox")
										span Убрать седину
									label
										input(type="checkbox")
										span Накрутить усы
									label
										input(type="checkbox" checked)
										span Подровнять виски
									label
										input(type="checkbox")
										span Отполировать лысину
							input(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ") 
				.angel-div-gray
					img.info-angel(src="../img/svg/angle_div_gray.svg", alt="image")
				.footer
					.footer__wrapper
						.footer__item
							h3 БАРБЕРШОП БОРОДИНСКИЙ
							p г.Санкт-Питербург, ул.Большая Конюшенная 19/8 
								a(href="#") Тел.: +7 (812) 555-66-66
						.footer__item
							h3 Давайте дружить!
							.footer_social_wrapper
								a.footer_social(href="#")
									img(src="../img/vk-icon-big.png", alt="vkontakt")
								a.footer_social(href="#")
									img(src="../img/facebook-icon-big.png", alt="facebook")
								a.footer_social(href="#")
									img(src="../img/insta-icon-big.png", alt="instagram")
						.footer__item
							h3 Разработано:
							a(href="#") HTML ACADEMY


script(src="../js/jquery.min.js")
script(src="../js/magnific.js")
script(src="../js/owl.carousel.min.js")
script(src="../js/common.js")