doctype html
html
		head
		meta(charset= "utf-8")
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="../libs/owl.carousel.css")
		link(rel="stylesheet" href="../libs/magnific.css")
		title
		body
			.main
				.navbar-background
					.logo-mobile
						img(src="../img/svg/logotype-mobile.svg", alt="лого мобайл")
					.navbar
						a(class="nava nav-one" href="index.html") главная
						a(href="work.html") наши работы
						a(href="form.html") записаться
						a(href="https://htmlacademy.ru/about") контакты
						a(href="https://htmlacademy.ru/") HTML ACADEMY
						a.navbar_form(href="#popup_form") 
							span 
								img.login_button(src="../img/svg/login.svg", alt="login button")
								span.entrance войти 
						.navbar__popup(href="#")
							a.popup_button(href="#popup_menu")
								img.popup_icon(src="../img/svg/menu_btn.svg", alt="menu button")
							.popup_menu(id="popup_menu" class="mfp-hide")
								a(href="index.html") главная 
								a(href="work.html") наши работы
								a(href="form.html") записаться
								a(href="https://htmlacademy.ru/about") контакты
								a(href="https://htmlacademy.ru/") HTML ACADEMY
								a.navbar_form(href="#popup_form") Войти
									img.login_button(src="../img/svg/login-mobile.svg", alt="login button")
						.nav_form(id="popup_form" class="mfp-hide")
							form(action="login" method="post")
								h3 Личный кабинет
								p Введите свой логин и пароль, чтобы войти
								input(type="text" name="username" placeholder="Логин")
								span
								input(type="password" name="password" placeholder="Пароль")
								span
								br
								input(type="checkbox" checked)
								span Запомните меня 
								a.form-elem(href="#") Я забыл пароль!
								br
								input(type="submit" name="submit" value="Войти")
								a.form-close.mfp-close(href="#") Закрыть
				picture
					source(media="(min-width: 768px)" srcset="../img/back-tablet.jpg")
					source(media="(min-width: 1200px)" srcset="../img/back-desktop.jpg")
					img(class="back-image" src="/img/back-desktop.jpg" alt="barbershop")
				img.logo-tablet(src="../img/svg/logotype-tablet.svg" alt="barbershop-tablet")
				img.logo-desktop(src="../img/svg/logotype-desktop.svg" alt="barbershop-desktop")
				.work-angel-div
					img.info-angel(src="../img/svg/angle_div.svg", alt="image")
				.work-photo
					.photo__title 
							h2 НАШИ РАБОТЫ
							a(href="index.html") НА ГЛАВНУЮ
					.photo_wrapper
						.photo_first
							picture
								source(media="(max-width: 500px)" srcset="../img/photo-1-mobile.jpg")
								source(media="(max-width: 768px)" srcset="../img/photo-1-tablet.jpg")
								source(media="(max-width: 1200px)" srcset="../img/photo-1-desktop.jpg")
								img(class="ours-work" src="../img/photo-1-desktop.jpg" alt="barbershop")
							.photo_text
								h3 Лжепетр Мчиславский
								p Где я только не стригся, но так как делаете это вы - не умеет никто другой! Еще раз спасибо и до скорого!
								.photo_elem
									span СТРИЖКА
										img(src="../img/svg/scissors-icon.svg", alt="scissors")
									span БРИТЬЕ
										img(src="../img/svg/beard-1.svg", alt="beard")
									span УСЫ
										img(src="../img/svg/mustache-icon.svg", alt="mustache")
						.photo_two
							.photo_item
								picture
									source(media="(max-width: 500px)" srcset="../img/photo-2-mobile.jpg")
									source(media="(max-width: 768px)" srcset="../img/photo-2-tablet.jpg")
									source(media="(max-width: 1200px)" srcset="../img/photo-2-desktop.jpg")
									img(class="ours-work" src="../img/photo-2-desktop.jpg" alt="barbershop")
								.photo_text
									h3 Саша Мальцев
									p Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?
									.photo_elem
										span СТРИЖКА
											img(src="../img/svg/scissors-icon.svg", alt="scissors")
							.photo_item
								picture
									source(media="(max-width: 500px)" srcset="../img/photo-3-mobile.jpg")
									source(media="(max-width: 768px)" srcset="../img/photo-3-tablet.jpg")
									source(media="(max-width: 1200px)" srcset="../img/photo-3-desktop.jpg")
									img(class="ours-work" src="../img/photo-3-desktop.jpg" alt="barbershop")
								.photo_text
									h3 Владимир Иваныч
									p К зимнему сезону - готов!
									.photo_elem
										span БОРОДА
											img(src="../img/svg/beard-1.svg", alt="beard")
										span УСЫ
											img(src="../img/svg/mustache-icon.svg", alt="mustache")
							.photo_item
								picture
									source(media="(max-width: 500px)" srcset="../img/photo-4-mobile.jpg")
									source(media="(max-width: 768px)" srcset="../img/photo-4-tablet.jpg")
									source(media="(max-width: 1200px)" srcset="../img/photo-4-desktop.jpg")
									img(class="ours-work" src="../img/photo-4-desktop.jpg" alt="barbershop")
								.photo_text
									h3 Винстон Синий
									p Как только заростаю и волосы начинают мешать видеть - бегом в Бородинский!
									.photo_elem
										span СТРИЖКА
											img(src="../img/svg/scissors-icon.svg", alt="scissors")
				.angel-div-gray
						img.info-angel(src="../img/svg/angle_div_53.svg", alt="image")
				.price
					.price_wrapper
						h2 ПРЕЙСКУРАНТ
						.price_table_tablet
							table
								tr
									th 1
									td Классическая стрижка
									td с мытьем головы
									td 1500 руб.
								tr
									th 2
									td Современный вариант
									td с мытьем головы
									td 1500 руб.
								tr
									th 3
									td Индивидуальный подход
									td с мытьем головы
									td 2000 руб.
								tr
									th 4
									td Бритьё бороды
									td быз мытья
									td 500 руб.
								tr
									th 5
									td Бритьё головы
									td с мытьем головы
									td 1000 руб.
						.price_table_mobile
							table
								tr 
									td Классическая стрижка
										br
										span (с мытьем головы)
									td 1500 руб
								tr 
									td Современный вариант
										br
										span (с мытьем головы)
									td 1500 руб
								tr 
									td Индивидуальный подход
										br
										span (с мытьем головы)
									td 2000 руб
								tr 
									td Бритьё бороды
										br
										span (с мытьем головы)
									td 500 руб
								tr 
									td Бритьё головы
										br
										span (с мытьем головы)
									td 1000 руб
						.price_clock
							.pclock
								img(src="../img/svg/clock_illustration.svg", alt="clock")
							p С 10:00 до 14:00 скидка 20%
				.angel-div-gray
						img.info-angel(src="../img/svg/angle_div_gray.svg", alt="image")
				.footer
					.footer__wrapper
						.footer__item
							h3 БАРБЕРШОП БОРОДИНСКИЙ
							p г.Санкт-Питербург, ул.Большая Конюшенная 19/8 
								a(href="#") Тел.: +7 (812) 555-66-66
						.footer__item
							h3 Давайте дружить!
							.footer_social_wrapper
								a.footer_social(href="#")
									img(src="../img/vk-icon-big.png", alt="vkontakt")
								a.footer_social(href="#")
									img(src="../img/facebook-icon-big.png", alt="facebook")
								a.footer_social(href="#")
									img(src="../img/insta-icon-big.png", alt="instagram")
						.footer__item
							h3 Разработано:
							a(href="#") HTML ACADEMY

script(src="../js/jquery.min.js")
script(src="../js/magnific.js")
script(src="../js/owl.carousel.min.js")
script(src="../js/common.js")