body
	padding: 0
	margin: 0

.navbar-background
	background: black

.navbar
	display: flex
	width: 80%
	box-sizing: border-box
	margin: 0 auto
	padding: 20px 150px
	a 
		font-size: 20px
		padding: 20px
		text-transform: uppercase
		text-decoration: none
		color: #FFF
		&:last-child
			margin-left: auto

.back-image
	width: 100%

.info
	background: #ccc

.info__stat
	position: relative
	top: -183px
	width: 80%
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	.stat__one
		width: 33.33%
		background: #fff
		padding: 30px 50px
		box-sizing: border-box
		h2 
			font-size: 3em
			margin: 0
		p 
			font-size: 2em
	.stat__four
		width: 66.66%
		display: flex
		flex-wrap: wrap
		.four__item_1, .four__item_2, .four__item_3, .four__item_4
			width: 50%
			padding: 10px
			box-sizing: border-box
			color: #fff
			h2 
				margin: 0
				font-size: 5em
			p 
				font-size: 2em
				margin: 10px

.four__item_1
	background: red
.four__item_2
	background: blue
.four__item_3
	background: green
.four__item_4
	background: purple

.info__promo
	position: relative
	top: -183px
	width: 80%
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	.promo__item_1, .promo__item_2, .promo__item_3
		width: 33.33%
		margin-top: 80px
		text-align: center
		padding: 30px 30px 0 30px
		box-sizing: border-box
		color: #fff
		h2 
			font-size: 3em
		p 
			font-size: 2em
			margin-bottom: 0

.promo__item_1 
	border-right: 1px solid black
	svg
		width: 40%
.promo__item_2 
	border-right: 1px solid black
	svg
		width: 40%
.promo__item_3 svg
	width: 40%



